/* #Reset & Basics  ================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	html{
		background: white url(../img/bg2.png); 
		box-shadow: inset 0px 2px 5px rgba(0,0,0,0.4);
		-webkit-box-shadow: inset 0px 2px 5px rgba(0,0,0,0.4);
		-moz-box-shadow: inset 0px 2px 5px rgba(0,0,0,0.4);
		-o-box-shadow: inset 0px 2px 5px rgba(0,0,0,0.4);
		-ms-box-shadow: inset 0px 2px 5px rgba(0,0,0,0.4);
		-khtml-box-shadow: inset 0px 2px 5px rgba(0,0,0,0.4);}
	
	body {	
		font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%; }
		
	.content{
		background-image: -webkit-gradient(radial, 50% 100%,100,50% -50%,100, from(rgba(200, 200, 200, 1.00)), to(rgba(209, 209, 209, 0.00)));
		background-image: -webkit-radial-gradient(50% 0%, rgba(209, 209, 209, 0.00), rgba(200, 200, 200, 1.00));
		background-image: -moz-radial-gradient(50% 0%, rgba(209, 209, 209, 0.00), rgba(200, 200, 200, 1.00));
		background-image: -ms-radial-gradient(50% 0%, rgba(209, 209, 209, 0.00), rgba(200, 200, 200, 1.00));
		background-image: radial-gradient(50% 0%, rgba(209, 209, 209, 0.00), rgba(200, 200, 200, 1.00));

		height: 100%;
		width: 100%;
		position: absolute;
		overflow:auto;}

/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #181818;
		font-family: "Georgia", "Times New Roman", serif;
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Footer =====================================================*/
	footer{
		width:100%;
		height: 30px;
		bottom: 0;
		z-index: -3;
		position: relative;
		text-align: center; }
		
		
/*  #Mobile (Portrait)
================================================== */
	
	@media only screen and (max-device-width:480px){
		ul.container { width:70%; }
	}
	
	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    	ul.container { width:64%; }
	}
	
   