@font-face {
    font-family: 'ethnocentric';
    src: url('../font-awesome/fonts/ethnocentric rg.woff') format('woff');
}

.body {
    background: #444444;
    color: white;
    outline: none;
}

.logo-container {
    width: 100vw;
    text-align: center;
    border-bottom: 2px solid #6DC10A;
    padding: 4px 0 12px 0;
    background: #333333;
}

.logo-container > img {
    max-width: 85vw;
}

.help-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
    border: 2px solid #6DC10A;
    border-radius: 50%;
    padding: 0 13px 0 13px;
    color: #6DC10A;
    background: #333333;
    font-weight: bold;
    font-size: 2.2em;
    transition: all 0.5s ease;
    outline: none;
    box-shadow: 2px 3px 20px 0px rgba(0, 0, 0, 0.8);
}

.help-button:hover {
    background: #6DC10A;    
    color: #444444;  
}

.main_body {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-code-input {
    display: block;
    background: none;
    border: none;
    border-bottom: 2px solid #6DC10A;
    width: 100%;
    outline: none;
    font-size: 2em;
}

.form {
    max-width: 500px;
    min-width: 320px;
    padding: 30px;
}

.green-text {
    color: #6DC10A;
}

.help-text {
    font-size: 0.8em;
    margin-top: 4px;
    font-weight: 600;
}

.custom-label {
    font-size: 1em;
    border-bottom: 1px solid #6DC10A; 
}

.custom-button {
    border: 2px solid #6DC10A;
    border-radius: 20px;
    padding: 8px 30px 8px 30px;
    color: #6DC10A;
    background: none;
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    margin: 0 auto;
    transition: all 0.5s ease;
    outline: none;
    margin-top: 20px;
}

.custom-button:hover {    
    background: #6DC10A;    
    color: #444444;
}

a {
    color: #6DC10A;
}

a:hover {
    color: #6DC10A;
}

a:visited {
    color: #99CC00;
}

.custom-welcome-text {
    color: #99CC00;
    font-family: inherit !important;
    font-weight: bold;
    font-size: 5em;
    transition: all 0.5s ease;
}

.footer {
    background: #333333;
    border-top: 4px solid #6DC10A;
    padding: 20px;
    border-bottom: 4px solid #6DC10A;
}

.contact-our-team-text {
    font-weight: bold;
    font-size: 1.4em;
    border-bottom: 1px solid #6DC10A;
}

.menu-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    outline: none;
}

.menu-toggle > span {
    width: 100%;
    top: 13px;
    height: 3px;
    position: absolute;
    background: #6DC10A;
}

.menu-toggle:before {
    width: 100%;
    top: 4px;
    height: 3px;
    position: absolute;
    background: #6DC10A;
    content: '';
}

.menu-toggle:after {
    width: 100%;
    top: 22px;
    height: 3px;
    position: absolute;
    background: #6DC10A;
    content: '';
}


.nav-drawer {
    height: 100vh;
    position: fixed;
    right: 0px;
    top:0px;
}

.menu-close:before {
    width: 100%;
    top: 13px;
    height: 3px;
    position: absolute;
    background: #6DC10A;
    transform: rotate(45deg);
    content: '';
}

.menu-close:after {
    width: 100%;
    top: 13px;
    height: 3px;
    position: absolute;
    background: #6DC10A;
    content: '';
    transform: rotate(-45deg);
}

.menu-close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    outline: none;
}

.tabs-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease;
}

.tabs-list li {
    list-style: none;
    border: 2px solid #6DC10A;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
    transition: all 0.5s ease;
    background: #333333;
    padding: 0 2px 0 2px;
}

.tabs-list li > a {
    width: 100%;
    display: inline-block;
    padding: 10px 0 10px 0;
    text-decoration: none;
    transition: all 0.5s ease;
}

.tabs-list li.active {
    background: #6DC10A;
}

.tabs-list li.active > a {
    text-decoration: none;
    color: #444444 !important;   
}

.tabs-list li:hover {
    background: #6DC10A;
}

.tabs-list li:hover > a {
    text-decoration: none;
    color: #444444 !important;   
}

@media only screen and (max-width: 480px) {
    .custom-welcome-text {
        font-size: 4em;
    }
}

@media only screen and (max-width: 640px) {
    .tabs-list li {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 560px) {
    .tabs-list li {
        font-size: 0.8em;
    }
}

.landing-form {
    min-width: 320px;
    max-width: 800px;
    padding: 30px;
    margin: auto;
}

.landing-main-body {
    width: 100vw;
    height: 80vh;
    display: flex;
}

.tabs-body-container {
    border-left: 2px solid #6DC10A;
    border-right: 2px solid #6DC10A;
    border-bottom: 2px solid #6DC10A;
    padding: 10px;
    transition: all 0.5s ease;
    background: #333333;
}

.login-form {
    padding: 10px;
}

.login-form label:first-of-type {
    margin-top: 30px;
}

.login-form label:nth-of-type(2), 
.login-form label:nth-of-type(3),
.login-form label:nth-of-type(4),
.login-form label:nth-of-type(5) {
    margin-top: 40px;
}


.topup-img {
    width: 100%;
}

.error-intro-text {
    border-bottom: 2px solid #6DC10A;
    padding-bottom: 5px;
}

.buttons-container .custom-button {
    display: inline-block;
    text-decoration: none;
}

.floating-authorise-button {
    position: fixed;
    background: #333333;
    border: 2px solid #6DC10A;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none;
    bottom: 5px;
    left: 0;
    outline: none;
    box-shadow: 2px 3px 20px 0px rgba(0, 0, 0, 0.8);
    transition: all 0.5s ease;
}

.floating-authorise-button:hover > a {
    color: #333333;    
}

.floating-authorise-button:hover {
    background-color: #6DC10A;    
}

.floating-authorise-button > a {
    padding: 10px 10px 10px 10px;
    display: block;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s ease;
}

.notification-box {
    position: fixed;
    z-index: 100;
    bottom: 0;
    width: 100%;
    display: none;
    max-height: 98vh;
    overflow-y: scroll;
    
}

.notification-body {
    margin: auto;
    width: 90%;
    max-width: 500px;
    min-width: 300px;
}

.notification-header {
    background: #6DC10A;
    border: 3px solid #6DC10A;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    padding: 4px;
    font-size: 1.6em;
    font-weight: bold;
    color: #333333;
}

.notification-content { 
    background: #333333;
    min-height: 200px;
    border-left: 3px solid #6DC10A;
    border-right: 3px solid #6DC10A;
    padding: 10px;
    font-size: 1.8em;
}

.notify-button {
    border: 2px solid #6DC10A;
    border-radius: 20px;
    padding: 6px 25px 6px 25px;
    color: #6DC10A;
    background: none;
    font-weight: bold;
    font-size: 0.7em; 
    transition: all 0.5s ease;
    margin: 20px 0 10px 0;
    display: block;
}

.notify-button:hover {
    background: #6DC10A;    
    color: #444444;  
}

#a443290e {
    width: 100%;
}

.remove-flex {
    display: block;
    height: auto;
}

.remove-flex .form {
    margin: auto;
}